@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  font-family: Gabarito;
}

header {
  flex: 0 80px;
  font-family: Gabarito;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Gabarito;
}

footer {
  flex: 0 30px;
  font-family: Gabarito;
}

h1 {
  font-family: Gabarito;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
  font-family: Gabarito;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
  font-family: Gabarito;
}

menu .nav-item {
  padding: 0 0.3em;
  font-family: Gabarito;
}

footer a {
  float: right;
  font-family: Gabarito;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

.logout {
  padding-right: 1em;
  padding-left: 1em;
}

#quote {
  border-radius: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  font-family: Gabarito;
}

#login {
  margin-bottom: 1em;
}

#playerName {
  color: rgb(197, 201, 230);
  font-size: 1.5em;
  padding-right: 0.5em !important;
  font-family: Gabarito;
}
