@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  font-family: Gabarito;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  padding-top: 1em;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

.games {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 1em;
}

.card {
  border: thick black solid ;
  border-radius: 1em;
  background: #303030 !important;
  color: white !important;
  align-items: center;
  line-height: 47px;
}

.logout {
  padding-right: 1em;
  padding-left: 1em;
}
